/******
Author :vignesh
Date: Saturday nov 26,2016.


*****/

html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }
body{
  margin: 0;
  font-size: 2.2vw;
}


.material-icons{
  font-size: 3.2vw;
}
#map {
        height: 80%;
        width: 100%;
       }
.card-content{
  padding: 5px!important;
}


.vertical_divider{
  margin-left: 3%;
 border-right: 2px inset black;
}
